/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .menu-icon.open div {
    background-color: white;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  button{
    width: 10%;
    height: 40px;
  }
  button a{
    text-decoration: none;

  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      text-align: center;
    }
    .nav-links.open {
      display: flex;
    }
  }
  